@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: #100D01;
  --color-background-primary: #FFFEFB;
  --color-primary: #A1F2E1;
  --color-secondary: #F8EEC9;
  --color-accent: #FFDB58;
}

